.wrapper {
  width: 80vw;
  // height: 100vh;
  margin: auto;

  background-color: rgb(238, 240, 235);
  padding: 20px;

  h1 {
    margin-bottom: 40px;
    text-align: center;
  }

  .my-button {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    min-width: 100px;
    min-height: 40px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
  }

  .button-top {
    color: rgb(238, 240, 235);
    background-color: rgb(204, 41, 54);
  }
  .button-bottom {
    color: rgb(244, 249, 233);
    background-color: rgb(206, 140, 74);
  }

  .content-wrapper {
    // height: 30%;
    width: 80%;
    max-width: 800px;
    margin: 0 auto 20px;
  }
}
